:root {
  --fons:        #07080f;
  --fons-2:      #161830;
  --blau:        #1a2570;
  --blau-clar:   #4a5fd4;
  --vermell:     #e8234a;
  --or:          #f5c842;
  --or-fosc:     #c49a20;
  --lilaClar:    #eeeaff;
  --text-suau:   #7a74aa;
  --blanc:       #ffffff;
  --text:        #d8d2ff;
  --radi:        10px;
}

  body.light {
    --fons:        #faf8ff;
    --fons-2:      #f0ecff;
    --blau:        #11195E;
    --blau-clar:   #3D4DB0;
    --vermell:     #C41E3A;
    --or:          #D4B138;
    --or-fosc:     #a88520;
    --lilaClar:    #e8e2f7;
    --text-suau:   #6B63A8;
    --blanc:       #ffffff;
    --text:        #1a1547;
  }

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
