<div class="overlay" id="modal-material">
  <div class="modal">
    <h2 id="modal-mat-titol">Nou material</h2>
    <label>Nom *
      <input type="text" id="mat-nom" placeholder="Ex: Baralla de cartes" />
    </label>
    <label>Categoria *
      <select id="mat-cat">
        <option value="">-- Tria --</option>
        <option>Magia</option>
        <option>Clown</option>
        <option>Circ</option>
      </select>
    </label>
    <label>Descripció
      <textarea id="mat-desc" placeholder="Estat, mides, detalls..."></textarea>
    </label>
    <label>Estat *
      <select id="mat-estat">
        <option value="">-- Tria --</option>
        <option value="disponible">Disponible</option>
        <option value="reservat">Reservat</option>
      </select>
    </label>
    <p class="err" id="mat-err"></p>
    <div class="modal-footer">
      <button class="btn-cancel" onclick="tancarModals()">Cancel·lar</button>
      <button class="btn-save" onclick="guardarMaterial()">Guardar</button>
    </div>
  </div>
</div>