<footer class="footer">
    <div class="footer__brand">
        <span class="footer__title">Bio🎩Chistera</span>
        <span class="footer__tagline">Del barret, un conill. De nosaltres, un canvi.</span>
    </div>

    <nav class="footer__nav">
        <a href="../views/productes/index.php">Banc de material |</a>
        <a href="../views/tutorials/index.php">Tutorials |</a>
        <a href="../views/ods/index.php">ODS |</a>
        <a href="../views/static/practiquesSostenibles.php">Pràctiques sostenibles |</a>
        <a href="../views/static/preguntesFrequens.php">FAQ</a>
    </nav>

    <div class="footer__info">
        Desenvolupament web en entorn servidor/client i mòdul de Sostenibilitat<br>
        <strong>Projecte final</strong> · © 2026 Marta Lucea Michilot
    </div>
</footer>